@model IEnumerable<WarehouseServer.Model.Item>
@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "All items";
}

<h2>All items</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align: center">
                    @if (item.User != null)
                    {
                        @Html.DisplayFor(modelItem => item.User.Email)
                    }
                    else
                    {
                        <p> - </p>
                    }
                </td>
                <td style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
